<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.AsukaMapper">

    <resultMap type="com.example.demo.model.Asuka" id="asukaMap">
        <result property="id" column="id"/>
        <result property="asukaA" column="asuka_a"/>
        <result property="asukaC" column="asuka_c"/>
    </resultMap>

    <select id="selectByPrimaryKey" resultType="com.example.demo.model.Asuka">
		SELECT * FROM asuka WHERE id = #{id}
	</select>

    <select id="selectByParams" resultMap="asukaMap">
        SELECT * FROM asuka
        <where>
            <if test="id != null">
                <![CDATA[AND id = #{id} ]]>,
            </if>
            <if test="asukaA != null">
                <![CDATA[AND asuka_a = #{asukaA} ]]>,
            </if>
            <if test="asukaC != null">
                <![CDATA[AND asuka_c = #{asukaC} ]]>,
            </if>
        </where>
        ORDER BY id DESC
    </select>

    <insert id="insertSelective" parameterType="com.example.demo.model.Asuka">
        INSERT INTO asuka
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="asukaA != null">
                asuka_a,
            </if>
            <if test="asukaC != null">
                asuka_c,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="asukaA != null">
                #{asukaA},
            </if>
            <if test="asukaC != null">
                #{asukaC},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.model.Asuka">
        UPDATE
        asuka
        <set>
            <if test="id != null">
                <![CDATA[ id = #{id} ]]>,
            </if>
            <if test="asukaA != null">
                <![CDATA[ asuka_a = #{asukaA} ]]>,
            </if>
            <if test="asukaC != null">
                <![CDATA[ asuka_c = #{asukaC} ]]>,
            </if>
        </set>
        WHERE id = #{id}
    </update>


    <insert id="insertBatch">
        INSERT INTO
        asuka
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="asukaA != null">
                asuka_a,
            </if>
            <if test="asukaC != null">
                asuka_c,
            </if>
        </trim>
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.id},
            #{item.asuka_a},
            #{item.asuka_c},
            )
        </foreach>
        <!--这个批量插入的语句这里多了一个逗号,我暂时没查到vm引擎里去末尾逗号语句怎么写(可以去掉这个方法)-->
    </insert>

    <delete id="deleteByPrimaryKey">
      DELETE FROM asuka  WHERE id = #{id}
    </delete>

</mapper>